

<footer style="height: 80px; width: 100%; border-top: 3px solid white;">
    <h4 style="width: 100%; text-align: center;">TODOS OS DIREITOS RESERVADOS</h4>
</footer>
<script>
    document.getElementById('btn-quem-somos').addEventListener('click', function() {
        // Redireciona o usuário para a rota desejada
        window.location.href = '/page/quem';
    });
    document.getElementById('btn-contato').addEventListener('click', function() {
        // Redireciona o usuário para a rota desejada
        window.location.href = '/page/contato';
    });
    
    document.getElementById('btn-home').addEventListener('click', function() {
        // Redireciona o usuário para a rota desejada
        window.location.href = '/';
    });
    
</script>