<!DOCTYPE html>
<html lang="en">
<head>

    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap" rel="stylesheet">
    <!-- fontes -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto_Lozango</title>
    <link href="/public/style.css" rel="stylesheet" />
</head>
<body>

    <header>
        <div class="logo">
            <img src="/public/imagem/logo.png" alt="" width="200px">
        </div>
        
        <div class="menu">
            <ul class="ul_menu">
                <li id="btn-home">Home</li>
                <li id="btn-quem-somos">Quem Somos</li>
                <li id="btn-contato">Fale Conosco</li>
            </ul>
        </div>
    </header>
    
    
        <!-- header -->



<!-- video -->