
<%- include('partials/header.html') %>
<!-- header -->
<!-- <div></div> -->
<!-- header -->
<div class="separador" style="height: 120px;"></div>
<div class="content imagem_fundo">
    <br>
    <div class="titulo">
        <H1>Quem Somos</H1></div>
    <div class="texto">
        <p>Há mais de 20 anos tornamos a vida dos nossos clientes mais fácil, com soluções que oferecem uma rotina mais estratégica e sustentável para as empresas.</p> </div>
        <div class="video" style="width: 100%; height: 400px; padding: 0 20px;" >
            <video autoplay muted style="width: 100vw;
            height: 300px;
            object-fit:cover;
            opacity: 0.8;">
                <source src="/public/imagem/Video.mp4" type="video/mp4">
            </video>
        </div>
</div>



<%- include('partials/footer.html') %>

</body>
</html>